[Unit]
Description="Actualiza el repo en la rama deployment"

[Service]
Type=simple
ExecStart=/home/alexander/lab/update-deployment.sh
WorkingDirectory=/home/alexander/lab/

[Install]
WantedBy=multi-user.target
